Create a DataFrame:
Create a pandas DataFrame with the following data:
diff
Name    | Age | Salary
--------|-----|-------
Alice   | 25  | 50000
Bob     | 30  | 60000
Charlie | 35  | 70000
David   | 40  | 80000
Eve     | 45  | 90000

In [47]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "Salary": [50000, 60000, 70000, 80000, 90000]
}

data_frame = pd.DataFrame(data)
print(data_frame)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eve   45   90000

Display the first 3 rows of the DataFrame.

In [48]:
print(data_frame.head(3))

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Add a new column Department with the values: HR, IT, IT, Finance, HR.

In [49]:
department = ["HR", "IT", "IT", "Finance", "HR"]

data_frame["Department"] = department

print(data_frame)

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   70000         IT
3    David   40   80000    Finance
4      Eve   45   90000         HR

Filtering:
Filter the DataFrame to show only rows where Salary is greater than 60000.

In [50]:
print(data_frame.loc[data_frame["Salary"] > 60000])

      Name  Age  Salary Department
2  Charlie   35   70000         IT
3    David   40   80000    Finance
4      Eve   45   90000         HR

Filter the DataFrame to show only rows where Department is IT.

In [51]:
print(data_frame.loc[data_frame["Department"] == "IT"])

      Name  Age  Salary Department
1      Bob   30   60000         IT
2  Charlie   35   70000         IT

Statistical Analysis:
Find the average salary of employees.

In [52]:
print(data_frame["Salary"].mean())

70000.0

Find the maximum age of employees.

In [53]:
print(data_frame["Age"].max())

45

Data Manipulation:
Sort the DataFrame by Salary in descending order.

In [54]:
print(data_frame.sort_values(by= "Salary", ascending= False))

      Name  Age  Salary Department
4      Eve   45   90000         HR
3    David   40   80000    Finance
2  Charlie   35   70000         IT
1      Bob   30   60000         IT
0    Alice   25   50000         HR

Update the Salary of Alice to 55000.

In [55]:
data_frame.loc[data_frame["Name"] == "Alice", "Salary"] = 55000
print(data_frame[data_frame["Name"] == "Alice"])

    Name  Age  Salary Department
0  Alice   25   55000         HR

# Assignment

In [56]:
import pandas as pd
import numpy as np
data = {
 'id': [1, 2, 3, 4, 5, 6],
 'is_active': [True, 'false', 1, 0, 'Yes', 'No'],
 'has_premium': ['Y', 'N', True, False, 1, 0]
}
df = pd.DataFrame(data)

1. Examine the data: Print the DataFrame and check data types

In [57]:
print(df)
print(df.dtypes)

   id is_active has_premium
0   1      True           Y
1   2     false           N
2   3         1        True
3   4         0       False
4   5       Yes           1
5   6        No           0
id              int64
is_active      object
has_premium    object
dtype: object

2. Convert boolean columns: Transform is_active and has_premium to proper boolean
values (True/False)

In [60]:
true_values = [True, "True", "true", 1, "Yes", "yes", "Y"]
false_values = [False, "False", "false", 0, "No", "no", "N"]

df["is_active"] = df["is_active"].apply(lambda x : True if x in true_values else False if x in false_values else np.nan)
df["has_premium"] = df["has_premium"].apply(lambda x : True if x in true_values else False if x in false_values else np.nan)

3. Verify results: Show the cleaned data and confirm all values are boolean

In [61]:
df

   id  is_active  has_premium
0   1       True         True
1   2      False        False
2   3       True         True
3   4      False        False
4   5       True         True
5   6      False        False