In [1]:
import pandas as pd

### Series

In [2]:
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
data = {"a": 1, "b": 2, "c": 3}
series = pd.Series(data)
series

a    1
b    2
c    3
dtype: int64

In [4]:
data = [1, 2, 3, 4, 5]
index = ["A", "B", "C", "D", "E"]
series = pd.Series(data= data, index= index)
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

### Dataframe

In [5]:
data = {
    "Name": ["Krish", "Hemant", "Amit"],
    "Age": [25, 30, 32],
    "city":["Bangalore", "New York", "Florida"]
}

df = pd.DataFrame(data)
df

     Name  Age       city
0   Krish   25  Bangalore
1  Hemant   30   New York
2    Amit   32    Florida

In [13]:
print(df.iloc[0][1])

25

C:\Users\Hemant\AppData\Local\Temp\ipykernel_8076\134252878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][1])